{{ partial "header.html" . }}
    <div class='content-container list'>
        <div class='right'>
            <section>
                {{ range first 3 .Paginator.Pages }}
                    {{ if eq .Type "posts"}}
                        <div class="post-container">
                        <a href='/categories/{{ index .Params.categories 0 }}/'><p class='post-category post-category--{{ index .Params.categories 0 }}'>{{ index .Params.categories 0 }}</p></a>
                        <a href="{{ .RelPermalink }}">
                                <h2 class='post-title'>{{ .Title }}</h2>
                                <p class='post-date'>{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                            </a>
                            <div class='post-content'>{{ .Summary }}</div>
                        </div>
                    {{ end }}
                {{ end }}
            </section>
        </div>
        {{ template "_internal/pagination.html" . }}
    </div>
{{ partial "footer.html" . }}