{{ partial "header.html" . }}

<div class="about-content">
    <img class='about-pic' src="/img/qdbp.jpg/" alt="quidbop on a roof eating an apple">
    <p class='about-text'>Demeter Szabolcs (quidbop) is a music producer from Romania. <br> He also makes synths. You can find
        him on
        <a target='_blank' href='https://fb.com/quidbop'>Facebook</a>,
        <a target='_blank' href='https://soundcloud.com/quidbop'>Soundcloud</a>,
        <a target='_blank' href='https://www.youtube.com/channel/UCxVumfdKYc2DpARSO6Zvt7w'>YouTube</a> and
        <a target='_blank' href='https://quidbop.bandcamp.com'>Bandcamp</a>.</p>
</div>

{{ partial "footer.html" . }}