@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}

ul {
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2.0rem;
    letter-spacing: -0.03em;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, .84);
}

nav {
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 0 64px 0;
}

.page-link {
    text-decoration: none;
}

.nav-top {
    display: flex;
    justify-content: center;
}

.nav-top {
    margin-bottom: 24px !important;
    border-bottom: 1px solid rgba(0, 0, 0, .84);
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 0 40px;
    color: rgba(0, 0, 0, .84);
}

nav ul li {
    font-size: 18px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li:first-of-type {
    margin-left: 0;
}

.nav-menu-toggle {
    display: none;
}

.shown {
    display: flex !important;
}

.nav-title {
    margin-bottom: 24px;
    height: 80px;
}

.container-all {
    margin: 0 auto;
    padding: 32px 0;
    width: 700px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-content {
    padding: 0 40px;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    text-align: center;
}

.about-pic {
    width: 100%;
    margin-bottom: 32px;
}

.about-text {
    line-height: 1.5;
    font-size: 16px;
}

.aside-svgs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aside-svgs a:first-of-type {
    margin-left: 0;
}

.aside-svgs a svg {
    height: 24px;
    margin-left: 16px;
    fill: #666;
}

.facebook-svg {
    height: 20px !important;
}

.facebook-svg:hover {
    fill: #3B5998;
}

.soundcloud-svg {
    height: 28px !important;
    margin-left: 0 !important;
}

.youtube-svg:hover {
    fill: #FF0000;
}

.soundcloud-svg:hover {
    fill: #FF3300;
}

.bandcamp-svg {
    height: 26px !important;
}

.bandcamp-svg:hover {
    fill: #408294;
}

.content-container section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 660px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.list {
    flex-direction: column;
}

.post-info {
    padding: 42px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .64));
    width: 100%;
}

.post-lower-info {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.post-date {
    font-family: "Roboto Mono", monospace;
    display: inline-block;
    color: #FFF;
    font-size: 15px;
    line-height: 26px;
    margin-left: 16px;
}

.post-category {
    width: 64px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    color: #FFF;
    font-family: "Roboto Mono", monospace;
    float: left;
    border-radius: 2px;
}

.post-category--code {
    background-color: #6966FF;
}

.post-category--music {
    background-color: #FFDB66;
}

.post-category--videos {
    background-color: #FF9982;
}

.post-category--synths {
    background-color: #FF8282;
}

.post-a {
    text-decoration: none;
    margin-bottom: 28px;
}

.post-container {
    height: 360px;
    position: relative;
    background-size: cover;
}

.post-shadow {
    height: 48%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
    bottom: 0;
    position: absolute;
    width: 100%;
}

.post-content {
    font-family: "Roboto Mono", monospace;
    color: rgba(0, 0, 0, .84);
    margin-left: 92px;
    margin: 24px 0 0 92px;
}

.post-content p {
    margin-bottom: 24px;
}

/* Post */

article h1 {
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    line-height: 1;
}

article .content h1 {
    margin-bottom: 24px;
    color: rgba(0, 0, 0, .84);
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}

article .content h2 {
    margin: 40px 0 12px 0;
    font-weight: 500;
}

article .content h3 {
    margin-bottom: 16px;
}

article .content a {
    color: #3392FF;
}

article .content a:hover {
    text-decoration: underline;
}

article p {
    font-size: 15px;
    font-family: "Roboto Mono", monospace;
    color: rgba(0, 0, 0, .84);
}

article .content p {
    margin-bottom: 24px;
}

article .post-container {
    margin-bottom: 0;
    height: 380px;
}

article .post-info {
    position: relative;
}

article .post-info {
    background: none;
    padding: 32px 0 64px 0;
}

.post-title {
    line-height: 1;
    color: #FFF;
    font-weight: 500;
    letter-spacing: -0.03em;
}

article video {
    width: 100%;
    margin: 16px 0;
}

article .post-date {
    font-family: "Roboto Mono", monospace;
    display: inline-block;
    color: #666;
}

article .post-category {
    float: left;
}

article .content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(0, 0, 0, .84);
    line-height: 1.6;
    padding-bottom: 96px;
    padding: 0 32px;
    overflow: auto;
}

article .post-top {
    margin-bottom: 64px;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
}

article .post-title {
    display: block;
    margin-left: 0;
    font-size: 2.6rem;
    color: #111;
    text-align: center;
    margin-bottom: 8px;
}

article .post-lower-info {
    justify-content: center;
}

/* Embeds */

article .content div {
    margin: 24px 0;
}

article .content iframe {
    width: 100%;
}

/* Code */

article .content .highlight {
    font-family: "Roboto Mono", monospace;
}

article .content .highlight table {
    padding: 8px !important;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.pagination {
    margin: 4px auto 32px auto;
}

.pagination li {
    display: inline-block;
}

.pagination li a {
    margin-right: 8px;
    font-family: "Roboto Mono", monospace;
    /* background: #f5f5f5; */
    padding: 6px 12px;
    color: rgba(0, 0, 0, .84);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.pagination li:last-of-type a {
    margin-right: 0;
}

.pagination .active a {
    background-color: #EAEFF2;
}

footer {
    padding: 16px;
}

.selfpromotwentyeighteenhitmeup {
    font-size: 14px;
    text-align: center;
    color: #999;
    font-family: 'Roboto Mono', monospace;
}

.webdevelopmentmagician {
    color: #3392FF;
}

@media screen and (max-width: 1000px) {

    aside {
        width: 100%;
        height: 190px;
        margin-bottom: 64px;
        display: flex;
    }

    .aside-pic {
        height: 100%;
        width: auto;
    }
}

@media screen and (max-width: 800px) {
    .container-all {
        width: 100%;
    }
}

/* Mobile territory */

@media screen and (max-width: 800px) {
    article, section {
        padding: 0;
    }

    .container-all, .content-container section {
        width: 100%;
    }

    article .content {
        padding: 0 16px;
    }

    .content-container {
        padding: 0;
    }

    .post-info {
        padding: 24px;
    }

    aside {
        flex-direction: column;
        height: inherit;
    }

    .aside-pic {
        height: inherit;
        width: inherit;
    }

    .post-category, .post-title, .post-content {
        margin-left: 0;
    }
    
    .nav-title {
        float: left;
        margin-bottom: 0;
        padding: 0 24px 24px 24px;
        border-bottom: 1px solid #666;
    }

    .nav-top {
        margin: 0 auto;
        border-bottom: none;
        position: relative;
    }

    nav {
        border: none;
        flex-direction: column;
        margin-bottom: 0;
        position: relative;
    }

    .venus {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* flex-direction: row-reverse; */
    }

    .nav-menu-toggle {
        display: block;
        position: relative;
        cursor: pointer;
        margin: 0 auto 32px auto;
        font-size: 20px;
        color: #424242;
    }

    .nav-menu {
        display: none;
        margin-bottom: 32px;
    }

    nav ul {
        display: flex;
        align-items: flex-start;
        margin-bottom: 4px;
        flex-direction: column;
        transition: all .2s ease-in-out;
        margin-bottom: 0;
    }   

    nav ul li a {
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 12px 16px;
    }

    nav ul li {
        width: 100%;
        background: #424242 !important;
        margin-bottom: 16px;
        margin-left: 0;
        color: #fff;
        text-align: center;
    }

    nav ul li:last-of-type {
        margin-bottom: 0;
    }

    .nav--code:hover {
        color: white;
    }

    .nav--music:hover {
        color: white;
    }

    .nav--videos:hover {
        color: white;
    }

    .nav--synths:hover {
        color: white;
    }

    .nav--posts:hover {
        color: white;
    }

    .nav--code {
        background-color: #6966FF;
    }

    .nav--music {
        background-color: #FFDB66;
    }

    .nav--videos {
        background-color: #FF9982;
    }

    .nav--synths {
        background-color: #FF8282;
    }

    .nav--posts {
        background: #3392FF;
    }

    article .post-top {
        left: 0;
        transform: none;
    }

    article .post-date {
        font-size: 15px;
    }

    article .content {
        left: 0;
        transform: none;
        width: 100%;
    }

    article h2 {
        font-size: 1.8rem;
        line-height: 1;
    }

    .pagination {
        display: flex;
    }

    .post-category {
        float: left;
    }

    .about-content {
        padding: 0;
    }

    .about-content p {
        padding: 0 12px;
    }

}