@font-face {
    font-family: Aileron;
    src: url(aileron/Aileron-SemiBold.otf);
}

@font-face {
    font-family: AileronReg;
    src: url(aileron/Aileron-Regular.otf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

body {
    font-family: Aileron, Helvetica, Arial, sans-serif;
    color: #111111;
}

nav {
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999;
    margin: 16px 0 0 0;
}

nav ul {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4px;
}

nav ul li {
    margin-left: 28px;
    font-size: 20px;
}

nav ul li:first-of-type {
    margin: 0;
}

.nav-title {
    font-family: Aileron, Helvetica, Arial, sans-serif;
}

.container-all {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

aside {
    width: 28%;
    background-color: #EAEFF2;
    display: table;
}

.aside-pic {
    width: 100%;
}

.aside-text {
    margin-bottom: 24px;
    font-size: 16px;
}

.aside-bottom {
    padding: 28px;
}

.aside-svgs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aside-svgs a:first-of-type {
    margin-left: 0;
}

.aside-svgs a svg {
    height: 24px;
    margin-left: 16px;
    fill: #666;
}

.facebook-svg {
    height: 20px !important;
}

.facebook-svg:hover {
    fill: #3B5998;
}

.soundcloud-svg {
    height: 28px !important;
    margin-left: 0 !important;
}

.youtube-svg:hover {
    fill: #FF0000;
}

.soundcloud-svg:hover {
    fill: #FF3300;
}

.bandcamp-svg {
    height: 26px !important;
}

.bandcamp-svg:hover {
    fill: #408294;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 660px;
}

.content-container {
    margin: 128px 0;
    display: flex;
    justify-content: space-between;
}

.list {
    flex-direction: column;
}

.post-date {
    font-family: "Roboto Mono", monospace;
    display: inline-block;
    color: #666666;
    margin-left: 92px;
    font-size: 18px;
}

.post-category {
    width: 74px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFF;
    font-family: "Roboto Mono", monospace;
    margin-top: 7px;
    margin-right: 16px;
    float: left;
}

.post-category--code {
    background-color: #6966FF;
}

.post-category--music {
    background-color: #FFDB66;
}

.post-category--videos {
    background-color: #FF9982;
}

.post-category--synths {
    background-color: #FF8282;
}

.post-container {
    margin-bottom: 48px;
}

.post-container:last-of-type {
    margin-bottom: 0;
}

.post-content {
    font-family: "Roboto Mono", monospace;
    color: #333333;
    margin-left: 92px;
    margin: 24px 0 0 92px;
}

.post-content p {
    margin-bottom: 24px;
}

/* Post */

article {
    margin-top: 96px;
}

article h1 {
    font-size: 3.4em;
    color: #111;
}

article .content h1 {
    margin-bottom: 12px;
}

article .content h2 {
    margin-bottom: 12px;
}

article .content h3 {
    margin-bottom: 12px;
}

article .content a {
    color: #3392FF;
}

article .content a:hover {
    text-decoration: underline;
}

article p {
    font-size: 17px;
    font-family: "Roboto Mono", monospace;
    color: #333;
}

article .post-title {
    line-height: 1;
}

article .post-date {
    font-family: "Roboto Mono", monospace;
    display: inline-block;
    color: #666666;
    font-size: 24px;
    margin: 0;
    margin-top: 5px;
}

article .post-category {
    margin-left: 4px;
}

article .content {
    max-width: 800px;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    color: #111;
    line-height: 1.4;
    padding-bottom: 96px;
}

article .post-top {
    margin-bottom: 64px;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
}

/* Embeds */

article .content div {
    margin: 24px 0;
}

article .content iframe {
    margin: 24px 0;
}

/* Code */

article .content .highlight {
    font-family: "Roboto Mono", monospace;
}

article .content .highlight table {
    padding: 8px !important;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

.pagination {
    margin: 92px 92px 0 92px;
}

.pagination li {
    display: inline-block;
}

.pagination li a {
    margin-right: 8px;
    font-family: "Roboto Mono", monospace;
    /* background: #f5f5f5; */
    padding: 6px 12px;
    color: #333;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.pagination .active a {
    background-color: #EAEFF2;
}

@media screen and (max-width: 1300px) {

    .post-category {
        margin-left: 92px;
        float: none;
    }

    .post-title {
        margin-left: 92px;
    }

    .container-all {
        width: 1000px;
    }
    aside {
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .container-all {
        width: 800px;
    }
    
    .content-container {
        margin: 64px 0;
        flex-direction: column;
    }

    aside {
        width: 100%;
        margin-bottom: 64px;
        display: flex;
    }

    .aside-pic {
        width: 30vw;
        height: 20vw;
    }
}