<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i" rel="stylesheet">
    <link rel="icon" href="/img/favicon.png" sizes="144x144">
</head>

<body>
<div class="container-all">
    <header>
        <nav>
            <div class="nav-top">
                <h1 class='nav-title'><a href="/">quidbop</a></h1>
                <img class='nav-menu-toggle' src='/img/menu.svg'>
            </div>
            <ul class='nav-menu'>
                <li class='nav--posts'><a href="/posts/">posts</a></li>
                <li class='nav--music'><a href="/categories/music/">music</a></li>
                <li class='nav--videos'><a href="/categories/videos/">videos</a></li>
                <li class='nav--synths'><a href="/categories/synths/">synths</a></li>
                <li class='nav--code'><a href="/categories/code/">code</a></li>
            </ul>
        </nav>
    </header>